*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Arial;
}
.navigation{
    width: 100%;
    background-color: #242f88;
    position: fixed;
    z-index: 10;
}
/* nav start */
.navigation-bar{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:70px;
}

.navigation-bar .logo{
    color: #fff;
}

.navigation-bar .nav-main ul{
   height:100%;
   display: flex;
   align-items: center;
}

.nav-main ul li{
    list-style: none;
    height: 70px;
    display: flex;
    width: 120px;
    margin:0 12px;
    align-items: center;
}

.nav-main ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 auto;
}

.nav-icon .fa-cart-shopping{
    color: #000;
    background-color: #fff;
    font-size: 18px;
    border-radius: 50%;
    padding: 10px;

}

.navigation-middle{
    width: 100%;
    display: flex;
    padding-top: 70px;
}
.navigation-middle .middle-right{
    width: 70%;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    color: #000;
}   
.navigation-middle .middle-left{
    width: 30%;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    color: #000;
}   

/* nav end */

/* nav hover start */

.nav-main ul li:hover{
    background-color: #170b68;
    transition: all .3s ease;
    transition-timing-function: linear;
    transition-property: all;

}

.nav-icon .fa-cart-shopping:hover{
    color: green;
}
/* nav hover end */



.section-main{
    display: flex;
    flex-wrap: wrap;
}
.section-parent{
    display: flex;
}
.section-main{
    display: flex;
    width: 70%;
    margin: 10px;
    justify-content: space-evenly;
}
.section-main div{
  box-shadow: 1px 2px 2px rgb(208 206 206), 0 0 25px rgb(223 223 223), 0 0 5px rgb(220 220 220);
  margin-top: 15px;
  border-radius: 8px;
  position: relative;
}
.section-main div p{
    margin: 15px 0px;
    font-size: 24px;
    text-align: center;
}

/* button effect start */
.section-main div:hover{
  box-shadow: 0px 0px 5px 0px #b1b1b1;

}

.section-main div button{
    padding: 8px 15px;
    position: absolute;
    outline: none;
    border: none;
    top: 200px;
    left: 90px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: all .3s ease;
    transition-property: background-color, color;
    visibility: hidden;
    z-index: 1;
}

.section-main div:hover button{
    visibility: visible;
    top: 190px;
}

/* button effect */

.section-main div button:hover{
    background-color: rgb(220, 20, 20);
    box-shadow: 1px 1px 2px rgb(107, 1, 1), 0 0 25px rgb(255, 0, 21), 0 0 5px rgb(255, 11, 11);;
    color: #fff;
}
.section-main img{
    width: 250px;
    height: 220px;
    margin: 10px;
    border-radius: 8px;
}

/* aside start */

.section-right{
    width: 30%;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 12px;
  }
.section-right-item{
    display: flex;
    /* display: none; */
    background-color: rgb(255, 255, 255);
    margin: 25px 10px 10px 10px;
    border-radius: 12px;
    box-shadow: 1px 2px 2px rgb(208 206 206), 0 0 25px rgb(223 223 223), 0 0 5px rgb(220 220 220);
}


.section-main div button:active {
    display: block;
    background-color: #fff;
    color: #000;
}

.section-right-item:hover{
    box-shadow: 0px 0px 5px 0px #b1b1b1;
}
.section-right-item img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
  }  
.section-right-item .food-count-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 2;
}
.section-right-item .food-count-2 h3{
    font-size: 24px;
}
  
.section-right-item .food-count-2 .counts{
    display: flex;
    justify-content: center;
}
.food-count-2 .counts .display{
    width: 50px;
    height: 25px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid rgb(174, 173, 173);
    text-align: center;
    background-color: rgb(196, 195, 195);
}
  
.food-count-2 .counts span{
    padding: 5px;
}
.section-right-item .food-count-3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}
.section-right-item .food-count-3 .fa-trash{
    color: crimson;
    font-size: 22px;
}
.section-right-item .food-count-3 .fa-trash:active{
    color: blue;
}
.section-right-item .food-count-3 #total-screen{
    color: blue;
    border: 1px solid rgb(219, 217, 216);
    outline: none;
    border: none;
    width: 50px;
    height: 25px;
}


.section-right .btn{
    width: 200px;
    margin: 20px 0px 0px 100px;
    padding: 10px;
    border: none;
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px #b1b1b1;
    transition: all .3s ease;
    transition-property: background-color, color;
}
.section-right .btn:hover{
    background-color: crimson;
    box-shadow: 1px 1px 2px rgb(107, 1, 1), 0 0 25px rgb(255, 0, 21), 0 0 5px rgb(255, 11, 11);;
    color: #fff;
}
  
  /*  section right end*/
  
  
  /* section end */
  
  /* footer start */
  
.footer{
    width: 100%;
    height: 100px;
    background-color: black;
}
  
.footer h1{
    text-align: center;
    font-size: 2rem;
    color: #fff;
    padding-top: 25px;
}
  /* footer end */


/* media start */

@media  screen and (max-width: 798px) {

    .section-main{
        width: 100%;
    }
    
    .section-right{
        display: none;
    }
    .navigation-middle .middle-right{
        display: block;
        width: 100%;
    }
    .middle-left{
        display: none;
    }
    .nav-main{
        display: none;
    }
   
}
@media  screen and (max-width: 567px){
     .section-main .door img{
        width: 380px;
    }
    .section-main div button{
        top: 200px;
        left: 150px;
    }   
}

/* media end */


